body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}
body.home-page {
    background: linear-gradient(90deg, darkblue, royalblue);
}
body.about-page {
    background: linear-gradient(90deg, magenta, pink);
}
body.blog-page {
    color: #333;
}

.text-capitalize {
    text-transform: capitalize;
}

/* navbar */
.navbar {
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 5px rgba(3, 3, 3, .65);
}
.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

ul li a.nav-item {
    text-decoration: none;
    color: #d9d9d9;
    margin-right: 10px;
    transition: 0.675s;
}
ul li a.nav-item:hover {
    color: #333;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li.list-default {
    display: block;
}

/* container */
.container {
    width: 100;
    padding: 0 20px;
    /* background-color: salmon; */
}

.mt-4 {
    margin-top: 4rem;
}
